.scrollable-treatments {
  max-height: 200px !important; /* Adjust height as needed */
  overflow-y: auto; /* Enables vertical scrolling */
}

.payment__label label {
  text-align: left !important;
  display: block;
}
